<section>
  <div class="page-header">
    <h1>{{vm.grocery._id ? 'Edit Grocery List' : 'New Grocery List'}}</h1>
  </div>

  <div class="col-md-12">
    <form name="vm.form.groceryListForm" class="form-horizontal" ng-submit="vm.save(vm.form.groceryListForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Grocery List Name</label>
          <input name="name" type="text" ng-model="vm.grocery.name" id="name" class="form-control" placeholder="Enter Grocery List Name" required>
          <div ng-messages="vm.form.groceryListForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grocery List Name is required.</p>
          </div>
        </div>
        
        <div class="form-group">
          <!-- <button type="submit" class="btn btn-default">Add Item</button> -->
          <button type="submit" class="btn btn-default">{{vm.grocery._id ? 'Update List' : 'Create New List'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<section class="grocerySection">
  <!-- <div class="row"> -->
    <div class="col-md-6">
      <form name="vm.form.groceryForm" class="form-horizontal" ng-submit="vm.addItem(vm.form.groceryItems.$valid)" novalidate>
        <fieldset>
          <div class="form-group">
            <label class="control-label" for="groceryitem">Grocery Item</label>
              <input name="item" type="text" ng-model="vm.grocery.item" id="item" class="form-control" placeholder="Enter Item" required>
          </div>
          <div class="form-group"> 
            <button type="submit" class="btn btn-default">Add Item</button>
          </div>  
          <!-- <div ng-messages="vm.form.groceryForm.groceryitem.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grocery Item is required.</p>
          </div> -->
        </fieldset>  
      </form>    
    </div>
  <!-- </div>   -->
  
     
    <div class="col-md-6">
      <h3>Grocery List:</h3>
        <div class="panel panel-default">
        <div class="panel-body">
          <ul>
           <li ng-repeat="item in vm.groceryList">
           
            {{item}} 
            <!-- {{vm.grocery.quantity}}  -->
           </li> 
        </ul>
        
      </div>
      
    </div>
    </div>
  
    
 
</section>

<!-- <div class="form-group" show-errors>
  <label class="control-label" for="quantity">Item Quantity</label>
    <input name="quantity" type="text" ng-model="vm.grocery.quantity" id="quantity" class="form-control" placeholder="Enter item quantity" required>
      <div ng-messages="vm.form.groceryForm.quantity.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Item quantity is required.</p>
      </div> -->
