<section>
  <div class="page-header">
    <h1 ng-bind="vm.grocery.name"></h1>
  </div>
  <div class="pull-left">
    <ul >
      <li ng-repeat="item in vm.grocery.items">
        {{item}}  
      </li> 
    </ul>  
  </div>
  <div class="pull-right"
       ng-show="vm.grocery.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="groceries.edit({ groceryId: vm.grocery._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <!-- <em class="text-muted">
      Posted on
      <span ng-bind="vm.grocery.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.grocery.user"
            ng-bind="vm.grocery.user.displayName"></span> -->
      <span ng-if="!vm.grocery.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.grocery.content"></p>
</section>
